*{
	margin: 0;
	padding: 0
}

body{
	font-family: sans-serif;
}

.navBar{
	display: flex;
	padding: 40px 120px;
}
.navLogo img{
	width: 90px;
}
.navLinks{
	flex: 1;
}
.navLinks ul{
	margin-left: 550px;
	display: inline;
}
.navLinks ul li{
	list-style: none;
	display: inline-block;
	padding: 6px 20px;
}
.navLinks ul a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.navLinks ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: yellow;
	display: block;
	margin: auto;
	transition: .5s;
}
.navLinks ul li:hover::after{
	width: 100%;
}
.searchBox{
	position: absolute;
	top: 45%;
	left: 20%;
	transform: translate(-50%,-50%);
}
.searchBox input{
	border: 3px solid #00ffff;
	height: 35px;
	width: 300px;
	border-radius: 50px;
	padding: 0px 10px;
}